body{
    margin: 0; 
    padding: 0;
    background-color: #f0f0f0;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5DA2D5;
}

.nav{
    font-size: 2rem;

    display: flex ;
    justify-content: space-between;
}

.nav,ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 3rem;

}
.nav  li:hover{
    color: lightgoldenrodyellow;
    cursor: pointer;

}



/*formulario*/ 

.formulario{
    display: grid;
    margin: 0 auto;
    width: 400px;
    border: 2px solid black;
    margin-top: 4rem;
    border-radius: 10px;
    padding: 5px;
    background-color: lightgray;
}
h2{
    text-align: center;
    
}

.formulario label{
    font-size: 1.4rem;

}

input{
    border-radius: 5px;
    height: 2rem;
    margin: 5px;
    border: none;
}

button{
    margin-top: 1rem;
    border: none;
    border-radius: 10px;
    height: 20px;
    width: 100px;

}

button:hover{
    cursor: pointer;
    background-color: cornflowerblue;
}




#coleccion{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 auto;
    margin-top: 2rem;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}